.country-nav {
  background-color: #98bfd6;
  height: 60px;
}

.country-body {
  background-color: #f5f7f3dc;
}

.navbar {
  padding: 10px;
}

.navbar-brand {
  font-size: 18px;
}

.navbar-nav .nav-link {
  font-size: 14px;
}

.form-control {
  height: auto;
  padding: 5px;
}

.btn {
  font-size: 14px;
  padding: 5px 10px;
}
